.header {
  background-color: rgb(70, 44, 11);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
}
.header button {
  font-size: 2rem;
  padding: 0.4rem;
  background: none;
  border: none;
  color: rgba(240, 192, 130, 0.938);
  margin-bottom: 0;
  margin-left: 3px;
  cursor: pointer;
}
.aside {
  z-index: 1;
  position: fixed;
  transform: translateX(-30rem);
  height: 100%;
  width: 20rem;
  background-color: rgb(121, 83, 39);
}
.aside ul > li > a {
  color: black;
}
.aside h3 {
  color: black;
}
.aside.open {
  transform: translateX(0);
}
.button-close {
  border-radius: 50%;
  border: 0.1rem black solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
.header-logo {
  width: 110px;
  height: 50px;
  margin: 3px;
  object-fit: contain;
}
.header-search {
  display: flex;
  flex: 1;
}
.header-searchinput {
  height: 18, 2px;
  padding: 10px;
  width: 100%;
  border: none;
}
.header-searchicon {
  padding: 5px;
  height: 29px !important;
  background-color: rgba(209, 152, 77, 0.938);
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
}
.header-link {
  color: white;
  text-decoration: none;
}
.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
}
